/* Los estilos de tu proyecto */
.register{
	background-image: url(../assets/images/taxi.jpg);
	background-size: 100%;
	height: 60em;
	background-repeat: no-repeat;
  background-position: bottom;
}

.yellowbox{
	background-color: #F7B617;
	color: #fff;
}
.line-paragraph::after, .line-paragraph::before{
  content: " ";
  display: inline-block;
  width: 6em;
  height: 0.1em;
  background-color: #FFFFFF;
  margin: 1%;
  margin-left: 10%;
  margin-right: 10%;
}

.download{
	background: #F7B617;
}